<div class="page-header"> 
    <h2>Docker</h2>
</div>

<table class="table docker">
    <thead>
        <tr>
            <th>State</th>
            <th>Class</td>
            <th>Type</td>
            <th>Index</td>
            <th>Name</td>
            <th>Node</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dockerContainer in dockerContainers">
            <td>
                <span class="label label-success" ng-if="dockerContainer.state.Running && !dockerContainer.state.Paused">
                    <span class="glyphicon glyphicon-play" title="Running"></span>
                </span>
                <span class="label label-info" ng-if="dockerContainer.state.Paused">
                    <span class="glyphicon glyphicon-pause" title="Running"></span>
                </span>
                <span class="label label-warning" ng-if="dockerContainer.state.ExitCode">
                    <span class="glyphicon glyphicon-alert" title="Error"></span>
                </span>
                <span class="label label-default" ng-if="!dockerContainer.state.Running && !dockerContainer.state.ExitCode">
                    <span class="glyphicon glyphicon-stop" title="Stopped"></span>
                </span>
            </td>
            <td>{{dockerContainer.class}}</td>
            <td>{{dockerContainer.type}}</td>
            <td>{{dockerContainer.index}}</td>
            <td><span title="{{dockerContainer.id}}">{{dockerContainer.name}}</span></td>
            <td>{{dockerContainer.node}}</td>
            <td>{{dockerContainer.status}}</td>
            <td>
                <a href="#/docker/{{dockerContainer.name}}"><span class="glyphicon glyphicon-zoom-in"></span></a>
            </td>
        </tr>
    </tbody>
</table>
