<div class="page-header"> 
    <h2>Stats</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table stats">
            <thead>
                <tr>
                    <th>Type</td>
                    <th>Field</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="meta in statsMeta" ng-class="{active: statsActive(meta)}">
                    <td>{{meta.type}}</td>
                    <td>{{meta.field}}</td>
                    <td>
                        <button ng-click="statsChart(meta)">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 chart">
        <h2 ng-if="fieldMeta">{{fieldMeta.type}}.{{fieldMeta.field}}</h2>

        <ng-include src="'/close/stats-chart.html'"></ng-include>
    </div>
</div>
