<div class="page-header"> 
    <h2>Stats</h2>
</div>

<table class="table stats">
    <thead>
        <tr>
            <th>Type</td>
            <th>Field</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="meta in statsMeta">
            <td>{{meta.type}}</td>
            <td>{{meta.field}}</td>
            <td>
                <button ng-click="select(meta)">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div ng-if="fieldMeta">
    <h2>{{fieldMeta.type}}.{{fieldMeta.field}}</h2>

    <flot dataset="$parent.chartData" options="$parent.chartOptions" width="100%" height="400px"></flot>
</div>
