<div class="page-header"> 
    <h1>{{closeType}}: {{closeInstance}}</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Config</h2>
        <form name="configForm" ng-submit="submitConfig()">
            <table class="table worker-config">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in workerConfig">
                        <th>{{key}}</th>
                        <td>{{value}}</td>
                        <td>
                            <input ng-model="postConfig[key]" type="{{inputType(value)}}" placeholder="{{value}}">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>
                            <button type="submit">Submit</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>

    <div class="col-md-6">
        <h2>Stats</h2>
        <div ng-repeat="data in statsData">
            <flot dataset="data" options="chartOptions" width="400px" height="100px"></flot>
        </div>
    </div>
</div>
