<div class="page-header"> 
    <button ng-click="get()" class="pull-right">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
    
    <h1>Workers</h1>
</div>

<div class="config">
    <h2>Config</h2>
    <div ng-if="configAlert" class="alert alert-warning">
        {{configAlert}}
    </div>

    <form ng-submit="postConfig()">
        <textarea ng-model="config" ng-disabled="busy"></textarea>
        <button type="submit">Run</button>
    </form>
</div>

<div>
    <h2>Client Status</h2>
    <table class="table clients">
        <thead>
            <tr>
                <th>Status</th>
                <th>Config</td>
                <th>Instance</th>
                <th>Docker</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="client in clients | orderBy:['config', 'id']">
                <td>
                    <span class="label label-default" ng-if="client.state == 'down'">
                        <span class="glyphicon glyphicon-off" title="Down"></span>
                    </span>
                    <span class="label label-success" ng-if="client.state == 'up'">
                        <span class="glyphicon glyphicon-ok" title="Up"></span>
                    </span>
                    <span class="label label-danger" ng-if="client.state == 'error'">
                        <span class="glyphicon glyphicon-alert" title="Error"></span>
                    </span>
                </td>
                <td>{{client.config}}</td>
                <td>{{client.instance}}</td>
                <td>
                    <a href="#/docker/{{client.docker}}">{{client.docker_status}}</a>
                </td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button ng-click="stopWorkers()" class="pull-right">
        <span class="glyphicon glyphicon-off"></span>
    </button>
    <h2>Worker Status</h2>

    <table class="table workers">
        <thead>
            <tr>
                <th>State</th>
                <th>Config</td>
                <th>Instance</th>
                <th>Docker</th>
                <th>Config</th>
                <th>Rate</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="worker in workers | orderBy:['config', 'id']">
                <td>
                    <span class="label label-default" ng-if="worker.state == 'down'">
                        <span class="glyphicon glyphicon-off" title="Down"></span>
                    </span>
                    <span class="label label-success" ng-if="worker.state == 'up'">
                        <span class="glyphicon glyphicon-ok" title="Up"></span>
                    </span>
                    <span class="label label-warning" ng-if="worker.state == 'wait'">
                        <span class="glyphicon glyphicon-time" title="Wait"></span>
                    </span>
                    <span class="label label-danger" ng-if="worker.state == 'error'">
                        <span class="glyphicon glyphicon-alert" title="Error"></span>
                    </span>
                </td>

                <td>{{worker.config}}</td>
                <td>
                    <a href="#/workers/{{worker.config}}/{{worker.instance}}">
                        {{worker.instance}}
                    </a>
                </td>
                <td>
                    <a href="#/docker/{{worker.docker}}">{{worker.docker_status}}</a>
                </td>
                <td>
                    <span class="label label-warning" ng-if="!worker.config">
                        <span class="glyphicon glyphicon-question-sign" title="Unknown"></span> Unknown
                    </span>
                    <span class="label label-danger" ng-if="worker.config_error" title="{{worker.config_error}}">
                        <span class="glyphicon glyphicon-alert" title="Error"></span> Error
                    </span>
                    <span ng-if="worker.config_ttl">TTL={{worker.config_ttl}}</span>
                </td>
                <td>{{worker.rate}}</td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h2>Stats</h2>

    <ng-include src="'/close/stats-chart.html'"></ng-include>
</div>
