<div class="page-header"> 
    <h1>Worker: {{workerId}}</h2>
</div>

<div>
    <h2>Config</h2>
    <form name="configForm" ng-submit="submitConfig()">
        <table class="table worker-config">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th><button type="submit">Submit</button></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in workerConfig">
                    <th>{{key}}</th>
                    <td>{{value}}</td>
                    <td>
                        <input ng-model="postConfig[key]" type="{{inputType(value)}}" placeholder="{{value}}">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div>
    <h2>Stats</h2>
    <div ng-repeat="data in statsData">
        <flot dataset="data" options="chartOptions" width="400px" height="100px"></flot>
    </div>
</div>
