<button class="pull-right" ng-click="update()">
    <span class="glyphicon glyphicon-refresh"></span>
</button>
<h2>{{statsMeta.type}}.{{statsMeta.field}}</h2>

<div ng-if="chartAlert" class="alert alert-warning">
    {{chartAlert}}
</div>

<flot dataset="chartData" options="chartOptions" width="100%" height="{{height}}"></flot>

<div>
    <label>
        <input type="radio" name="duration" ng-model="duration" ng-change="changeDuration()" value="10s">
        10 seconds
    </label>
    <label>
        <input type="radio" name="duration" ng-model="duration" ng-change="changeDuration()" value="1m">
        1 minute
    </label>
    <label>
        <input type="radio" name="duration" ng-model="duration" ng-change="changeDuration()" value="15m">
        15 minutes
    </label>
    <label>
        <input type="radio" name="duration" ng-model="duration" ng-change="changeDuration()" value="1h">
        1 hour
    </label>
<div>
